{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "react/prop-types": 0
  }
}